:root {
  --or-color-50: #FEF8EE;
  --or-color-100: #FCF0D8;
  --or-color-200: #F8DCB0;
  --or-color-300: #F4C686;
  --or-color-400: #ED9F4A;
  --or-color-500: #E98426;
  --or-color-600: #DA6A1C;
  --or-color-700: #B55119;
  --or-color-800: #90411C;
  --or-color-900: #74371A;
  --or-color-950: #3F1A0B;

  --primary-color: var(--or-color-500);
  --dark-color: #1f1f1f;
  --dark-color-light: #2b2b2b;
}

body {
  font-family: 'Roboto', sans-serif;
  transition: 0.3s ease-in-out;
}

.card {
  border: 1px solid var(--dark-color);
  transition: 0.3s ease-in-out;
}

.card-header {
  border-bottom: 1px solid var(--dark-color);
  transition: 0.3s ease-in-out;
}

.important {
  color: var(--or-color-300);
}

.important:hover {
  color: var(--or-color-500);
}

.primary-button {
  background-color: white;
  color: black;
  border: 1px solid var(--primary-color);
}

.primary-button:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Estilos específicos para el tema claro */
.light-mode {
  --text-color: black;
  --card-bg-color: white;
  background-color: white;
}


/* ESTILOS COMPARTIDOS*/
.bi-trash{
  color: red;
}
.bi-trash:hover{
  color: var(--or-color-500);
  cursor: pointer;
}

.dark-mode .bi-trash{
  color: var(--or-color-500);
}
.dark-mode .bi-trash:hover{
  color: var(--or-color-100);
  cursor: pointer;
}
/* Estilos específicos para el tema oscuro */
.dark-mode {
  --text-color: white;
  --card-bg-color: var(--dark-color);
  --card-header-color: var(--dark-color-light);
  background-color: var(--dark-color);
  transition: 0.3s ease-in-out;
}

.dark-mode .card {
  background-color: var(--card-bg-color);
  border: 1px solid var(--or-color-500);
  color: white;
}

.dark-mode .card-header {
  background-color: var(--card-header-color);
  color: white;
  border-bottom: 1px solid var(--primary-color);
}

.dark-mode .table {
  background-color: #2b2b2b;
  border: var(--primary-color) 1px solid;
}

.dark-mode .table th {
  background-color: #585858;
  color: white;
}
.dark-mode .table td {
  background-color: #2b2b2b;
}

.dark-mode .table td, tr{
  color: white;
}

.dark-mode .container{
  color: white;
}
